.positionReg0 {
    transform: rotate(0deg);
}

.positionReg1 {
    transform: rotate(90deg);
}

.position0 {
    transform: rotate(0deg);
}

.position1 {
    transform: rotate(45deg);
}

.position2 {
    transform: rotate(90deg);
}

.position3 {
    transform: rotate(135deg);
}

.position4 {
    transform: rotate(225deg);
}

.position5 {
    transform: rotate(270deg);
}

.position6 {
    transform: rotate(315deg);
}
