
.positionReg0 {
    transform: rotate(90deg);
}

.positionReg1 {
    transform: rotate(45deg);
}

.positionReg2 {
    transform: rotate(135deg);
}




.position0 {
    transform: rotate(-90deg);
}

.position1 {
    transform: rotate(90deg);
}


.position2 {
    transform: rotate(-90deg);
}

.position3 {
    transform: rotate(-45deg);
}

