.positionReg0 {
    transform: rotate(-90deg);
}

.positionReg1 {
    transform: rotate(-45deg);
}

.positionReg2 {
    transform: rotate(-135deg);
}


.position0 {
    transform: rotate(0deg);
}

.position1 {
    transform: rotate(45deg);
}

.position2 {
    transform: rotate(90deg);
}

.position3 {
    transform: rotate(135deg);
}

.position4 {
    transform: rotate(180deg);
}

.position5 {
    transform: rotate(225deg);
}

.position6 {
    transform: rotate(270deg);
}

.position7 {
    transform: rotate(315deg);
}
